<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Create Post</h1>
<form method="post" action="/posts/create">
    <div class="group">
        <input type="text" name="message" required/>
        <span class="highlight"></span><span class="bar"></span>
        <label>Message:</label>
    </div>
    <div class="group">
        <input type="url" name="imageUrl" required/>
        <span class="highlight"></span><span class="bar"></span>
        <label>Image URL</label>
    </div>
    <div class="btn-box">
        <button class="btn btn-submit" type="submit">SUBMIT</button>
        <button class="btn btn-cancel" type="button">CANCEL</button>
    </div>
</form>
</body>
<%- include('_footer') -%>
</html>