/* Add your styles here. */
* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.page-content {
    margin-top: 110px;
}

h1 {
    text-align: center;
}

.title {
    font-weight: 100;
}

p {
    font-weight: 400;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
nav a {
    padding: 0px 5px;
    text-decoration: none;
}

nav a:active {
    color: orange;
    background-color: aqua;
}

nav a:hover {
    color: orange;
}

.page-title {
    text-align: center;
    background-color: aqua;
}

.post-list, .user-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px
}

.post-detail {
    width: 100%;
}

.user-detail {
    width: 45%;
}

.like-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 10px;
    
}

.post-detail img, .user-detail img {
    width: 100%;
}

ol {
    list-style-type: none;
    padding-left: 0;
}

.next-previous {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.next-previous a {
    width: 65px;
    text-align: left;
}

@media only screen and (min-width: 700px) {
    .post-detail {
        width: 45%;
    }

    .user-detail {
        width: 30%;
    }

    nav {
        justify-content: space-evenly; 
    }

  }

  @media only screen and (min-width: 1000px) {
    .post-detail {
        width: 30%;
    }

    .user-detail {
        width: 22%;
    }

  }

  /* FORM PAGES */
  .create-form {
    margin-top: 110px;
  }
  
  .create-post-form {
    width: 320px;
    margin: 45px auto;
  }

  .group {
    position: relative;
    margin: 45px 0;
  }

  textarea {
    resize: none;
  }

  input,
textarea {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}
input:focus,
textarea:focus {
  outline: none;
}
input:focus ~ label, input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #2196F3;
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 320px;
}

input[type=password] {
  letter-spacing: 0.3em;
}

label {
  color: #c6c6c6;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 320px;
}
.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #2196F3;
  transition: 300ms ease all;
  left: 0%;
}

.btn {
  background: #fff;
  color: #959595;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn:hover {
  color: #8b8b8b;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}
.btn.btn-link {
  background: #2196F3;
  color: #d3eafd;
}
.btn.btn-link:hover {
  background: #0d8aee;
  color: #deeffd;
}
.btn.btn-submit {
  background: #2196F3;
  color: #bce0fb;
}
.btn.btn-submit:hover {
  background: #0d8aee;
  color: #deeffd;
}
.btn.btn-cancel {
  background: #eee;
}
.btn.btn-cancel:hover {
  background: #e1e1e1;
  color: #8b8b8b;
}

.img-circle {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	border: 2px solid #8e9681;
	padding: 5px;
}