/* Add your styles here. */
* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.page-content {
    margin-top: 110px;
}

h1 {
    text-align: center;
}

.title {
    font-weight: 100;
}

p {
    font-weight: 400;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
nav a {
    padding: 0px 5px;
    text-decoration: none;
}

nav a:active {
    color: orange;
    background-color: aqua;
}

nav a:hover {
    color: orange;
}

.page-title {
    text-align: center;
    background-color: aqua;
}

.post-list, .user-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px
}

.post-detail {
    width: 100%;
}

.user-detail {
    width: 45%;
}

.like-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 10px;
    
}

.post-detail img, .user-detail img {
    width: 100%;
}

ol {
    list-style-type: none;
    padding-left: 0;
}

.next-previous {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.next-previous a {
    width: 65px;
    text-align: left;
}

@media only screen and (min-width: 700px) {
    .post-detail {
        width: 45%;
    }

    .user-detail {
        width: 30%;
    }

    nav {
        justify-content: space-evenly; 
    }

  }

  @media only screen and (min-width: 1000px) {
    .post-detail {
        width: 30%;
    }

    .user-detail {
        width: 22%;
    }

  }